@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:ital,wght@1,100&family=Rammetto+One&family=Righteous&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  width: 100%;
  background-color: #d8d5cf !important;
}
.nav-one p {
  font-family: "Righteous", cursive;
  font-size: 25px;
  color: #c5c5c5;
}
.nav-one a {
  font-family: "Righteous", cursive;
  margin-left: 35px;
  float: left;
  font-size: 25px;
  text-decoration: none;
  color: #c5c5c5;
  display: inline-block;
  position: relative;
}
.nav-one {
  background: #373f4c;
  width: 100%;
  padding: 30px;
  overflow: auto;
}
.logo1 img {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
}
.middle {
  margin-left: 500px;
}
.right {

}
.form-title {
  text-align: center;
  font-size: 40px;
}
.footer {
  background-color: #2e3440;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
ul {
  list-style: none;
}
.container2 {
  max-width: 100%;
}
.container {
  justify-content: center;
  max-width: 100%;
  margin: auto;
}
.footer-col h4 {
  font-size: 22px;
  color: azure;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.special {
  color: #ffffff;
  width: 100%;
  margin-left: 20px;
}
.special h1 {
  width: 100%;
  font-size: 50px;
}
.special h2 {
  position: relative;
  margin-bottom: 10px;
  width: 35%;
}
.special h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #bbbbbb;
  height: 2px;
  box-sizing: border-box;
  width: 100%;
}
.special input {
  height: 40px;
  width: 500px;
  max-width: 100%;
}
.special .submit {
  background-color: #2e3440;
  text-decoration: none;
  color: #bbbbbb;
  font-size: 20px;
  font-style: italic;
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.special p {
  font-family: "Raleway", sans-serif;
  color: #f7f7f7;
  font-size: larger;
}
.submit:hover {
  background-color: #bbbbbb;
  color: black;
}

.row2 {
  margin-left: 10px;
  display: flex;
}

.row2:not(:first-child) {
  margin-left: 20px;
}
.footer-col {
  width: 40%;
  padding: 0 20px;
}
.special h2 {
  font-family: "Rammetto One", cursive;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 1px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 17px;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.25s ease;
  display: block;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.copy-right {
  margin-top: 20px;
}
.copy-right h3 {
  position: absolute;
  color: #ffffff;
  font-style: italic;
  margin-left: 10px;
}

.nav-second ul {
  margin-right: 10%;
}
.nav-second {
  background-color: #4e4e4e;
  width: 100%;
  padding: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-second h1 {
  padding: 0 10px;
  color: #c5c5c5;
  font-size: 35px;
  font-family: "Rammetto One", cursive;
}
.nav-second p {
  font-family: "Raleway", sans-serif;
  color: #c5c5c5;

  font-size: 15px;
}

.nav-second li {
  display: table-cell;
  margin-left: 30px;
}
.nav-second a {
  font-family: "Righteous", cursive;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  position: relative;
  color: #c5c5c5;
}
.nav-second a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-second a:hover:after {
  width: 100%;
  left: 0;
}
.nav-second a:hover {
  color: white;
  text-decoration: none;
}
.nav-one a:hover {
  color: white;
  text-decoration: none;
}
.nav-one a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-one a:hover:after {
  width: 100%;
  left: 0;
}

.special h1 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.btn-container input {
  background-color: #919191;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}
.btn-container input {
  background-color: #a0c591;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}
.btn-container input:hover {
  background-color: #77777c;
}
.welcome-user {
  font-size: 25px;
  color: #ffffff;
}
.login-container{
  margin: auto;
  width: 30%;
  background: #838385;
  text-align: center;
  border-radius: 20px;
}
.login-container h2{
  padding-top: 20px;
  color:papayawhip;
  text-transform: uppercase;
  font-weight: bolder;
}
.login-container input[type="email"], .login-container input[type="password"],.login-container input[type="text"]{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  margin:20px auto;
  border: 4px solid #4e4e4e;
  padding: 15px 10px;
  width: 50%;
  outline: none;
  color:white;
  border-radius: 25px;
  transition: 0.25s;

}
.login-container input[type="email"]:focus, .login-container input[type="password"]:focus, .login-container input[type="text"]:focus{
  width:70%;
  border-color: #4d984e;
}
.login-container input[type ="submit"]{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  margin:20px auto;
  border: 4px solid #3c763d;
  padding: 15px 40px;
  width: 30%;
  outline: none;
  color: #d5d5d5;
  border-radius: 25px;
  transition: 0.25s;
  cursor:pointer;
  text-align: center;
}

.login-container input[type="email"]::placeholder, .login-container input[type="password"]::placeholder,.login-container input[type="text"]::placeholder{
  color: #adadad;
  opacity: 1;
}
.login-container input[type ="submit"]:hover{
  background: #3c763d;
}
.section-heading h2 {
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #121212;
}

.checkboxx input,
.checkboxx a {
  width: 20px;
  height: 20px;
}
.services {
  margin-bottom: 100px;
  margin-top: 100px;
}

.services .service-item {
  background-color: #838385;
  color: #fff;
  padding: 60px 30px 20px 30px;
  text-align: center;
  transition: all 0.5s;
}

.service-item h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.service-item .service-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
}

.first-service .service-icon {
  background-image: url(../images/keyboard.png);
  transition: all 0.5s;
}
a.test {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.second-service .service-icon {
  background-image: url(../images/mouse.png);
  transition: all 0.5s;
}

.third-service .service-icon {
  background-image: url(../images/headphones.png);
  transition: all 0.5s;
}

.service-item:hover {
  color: #121212;
  background-color: #ffe165;
}

.first-service:hover .service-icon {
  background-image: url(../images/keyboard-colored.png);
}

.second-service:hover .service-icon {
  background-image: url(../images/mouse-colored.png);
}

.third-service:hover .service-icon {
  background-image: url(../images/headphones-colored.png);
}
