<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<body>
<div layout:fragment="content" class="text-center">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome back, Admin</h1>
        <p>Easily manage your data from this admin <mark>CMS</mark></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 pt-3" >
                <div class="card" style="background-color:white;">
                    <div class="card-body">
                        <h4 class="card-title">Main Categories</h4>
                        <p class="card-text">Manage the categories section here.</p>
                        <a href="#" th:href="'/admin/maincategory/list'" class="card-link btn btn-primary">Manage</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 pt-3" >
                <div class="card" style="background-color:white;">
                    <div class="card-body">
                        <h4 class="card-title">Sub Categories</h4>
                        <p class="card-text">Manage the categories section here.</p>
                        <a href="#" th:href="'/admin/subcategory/list'" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pt-3" >
                <div class="card" style="background-color:white;">
                    <div class="card-body">
                        <h4 class="card-title">Products</h4>
                        <p class="card-text">Manage all the products here.</p>
                        <a href="#"  th:href="'/admin/product/list'" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>

