<!DOCTYPE html>
<html lang="en" layout:decorate="_layout"
      xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>

    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/css/productList.css}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

</head>
<body>
<div class="container" layout:fragment="content">
    <h2><a class="titleList" th:href="'/admin/product/list'">Product List</a></h2>
    <nav class="nav">
        <a class="btn btn-info" style="background-color:white;margin: 20px 0 20px 15px;color:#064f40" th:href="'/admin/product/add'"><i class="fa-solid fa-circle-plus" style="color:#009879"></i> Add Product</a>
        <a class="btn btn-info" style="background-color:white;margin: 20px 0 20px 15px;color:#064f40" th:href="'/admin/product/sort/desc'"> Sort Descending <i class="fa-solid fa-sort-down" style="color:#009879"></i></a>
        <a class="btn btn-info" style="background-color:white;margin: 20px 0 20px 15px;color:#064f40" th:href="'/admin/product/sort/asc'"> Sort Ascending <i class="fa-solid fa-sort-up" style="color:#009879"></i></a>
        <form action="/admin/product/search" class="form-inline">
            <input aria-label="Search" class="form-control mr-sm-2" name="keyword" placeholder="Search by Name" type="search" style="width: 360px">
            <button class="btn btn-info" id="btnSearch" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </nav>
    <table class="content-table" style="width: inherit;">
        <thead>
        <tr>
            <th>ID</th>
            <th style="flex-grow: 2">Product Name</th>
            <th style="flex-grow: 2">Description</th>
            <th style="flex-grow: 1">Product Price</th>
            <th style="width: 130px">Color</th>
            <th style="width: 130px">Product Image</th>
            <th style="width: 200px">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(products)}">
            <td colspan="5"><i>no records!</i></td>
        </tr>
        <tr class="active-row" th:each="p: ${products}">
            <td th:text="${p.productId}" style="text-align: center;"/>
            <td th:text="${p.productName}" style="text-align: justify;"/>
            <td th:text="${p.description}" style="text-align: justify;"/>
            <td th:text="${p.convert(p.price)} +'₫'" style="text-align: center;"/>
            <td th:text="${p.color}" style="text-align: center;"/>
            <td>
                <img height="100px" th:src="@{${'/images/' + p.imageName}}" width="100px">
            </td>
            <td style="text-align: center;">
                <a th:href="'/admin/product/' + ${p.productId}">
                    <button class="btn btn-info">Detail</button>
                </a>
                <a th:href="'/admin/product/update/' + ${p.productId}">
                    <button class="btn btn-warning">Edit</button>
                </a>
                <a onclick="return confirm('Do you want to delete this category ?');"
                   th:href="'/admin/product/delete/' + ${p.productId}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:if="${pagelist.getNumber()} > 0">
                <a aria-label="Previous" class="page-link"
                   th:href="'/admin/product/list?page=' + ${pagelist.getNumber()-1}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" th:href="'/admin/product/list?page=' + ${pagelist.getNumber()}"
                                     th:text="${pagelist.getNumber()+1}"/></li>
            <li class="page-item" th:if="(${pagelist.getTotalPages()}-2) >=  ${pagelist.getNumber()}"><a
                    class="page-link" th:href="'/admin/product/list?page=' + ${pagelist.getNumber()+1}"
                    th:text="${pagelist.getNumber()+2}"/></li>
            <li class="page-item" th:if="(${pagelist.getTotalPages()}-3)  >= ${pagelist.getNumber()}"><a
                    class="page-link" th:href="'/admin/product/list?page=' + ${pagelist.getNumber()+2}"
                    th:text="${pagelist.getNumber()+3}"/></li>
            <li class="page-item" th:if="(${pagelist.getTotalPages()}-1) > ${pagelist.getNumber()}">
                <a aria-label="Next" class="page-link"
                   th:href="'/admin/product/list?page=' + ${pagelist.getNumber()+1}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>