<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" th:href="@{/css/success.css}" />
    <title>Success</title>
  </head>
  <body>
    <div class="container-thank">
      <img
              th:src="@{/images/thank.svg}"
        class="image"
        style="width: 15%; height: 15%"
        alt=""
      />
      <span class="text1">Thank you for using our services</span>
      <span class="text2"> <a style="text-decoration: none;" th:href="@{/shop}">Continue Shopping</a></span>
    </div>


  </body>
</html>
